/* RESET CSS  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* GLOBALS  STYLE */
  .App {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    width: 100%;
    background-color: #282c34;
    flex-wrap: wrap;
  }
  
  .App-link {
    color: #61dafb;
  }
  /* CARD STYLE */
  .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card-container {
    /* background: #fff; */
    width: 5rem;
    height: 8rem;
    border-radius: 7px;
    margin: -13px;
  }
  .card-content__inner,
  .card-content-inner__border-top,
  .card-content-inner__border-bottom {
    width: 95%;
  }
  .card-content-inner__border-top,
  .card-content-inner__border-bottom {
    height: 5%;
  }
  .card-content__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: inherit;
  }
  .card-content-inner__border-top,
  .card-content-inner__border-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
  
  .card-content-inner__center {
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  .top-symbol-sigle,
  .bottom-symbol-sigle {
    text-align: center;
    width: 30%;
  }
  
  .top-symbol,
  .bottom-symbol {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .top-symbol {
    align-items: flex-start;
  }
  .bottom-symbol {
    align-items: flex-end;
  }
  .center-symbol-sigle {
    font-size: (70*(90/100))px;
  }
  
  /* DYNAMIC COLOR CLASS SECTION */
  .red {
    color: red;
  }
  .black {
    color: black;
  }
  
  /* DYNAMIC CENTER CARD SECTION */
  .grid-3,
  .grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .grid-1 {
    transform: scale(3) translate(0.26rem, 0rem);
  }
  .grid-2 {
    transform: scale(1.75) translate(0.45rem, -0.1rem);
  }

  .grid-3 {
    transform: scale(1.75) translate(0.4rem, 0.1rem);
  }

  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1px;
    align-items: center;
    width: 89%;
    text-align: center;
  }
  .grid-4 {
    transform: scale(1) translate(0.7rem, 0.1rem);
  }
  
  .grid-5 .centerCard:last-child {
    position: absolute;
    transform: translate(1.75rem, 0rem);
  }
  .grid-5 {
    transform: scale(1) translate(0.7rem, 0.1rem);
  }
  .grid-6 {
    transform: scale(1.1) translate(0.7rem, 0.1rem);
  }
  .grid-7 {
    transform: scale(1.1) translate(0.7rem, 0.1rem);
  }
  .grid-7 .centerCard:last-child {
    position: absolute;
    transform: translate(1.6rem, -1rem);
  }
  .grid-8 {
    transform: scale(1.1) translate(0.7rem, -0.3rem);
  }
  .grid-9 {
    transform: scale(1.1) translate(0.7rem, -0.3rem);
  }
  .grid-10 {
    transform: scale(1.1) translate(0.7rem, -0.3rem);
  }
  
  .grid-9 .centerCard:last-child {
    position: absolute;
    transform: translate(1.7rem, -1rem);
  }
  
  .grid-10 .centerCard:last-child {
    position: absolute;
    transform: translate(1.75rem, -1rem);
  }
  .grid-10 .centerCard:nth-child(9) {
    position: absolute;
    transform: translate(1.75rem, 1.5rem);
  }
  .figure-picture {
    transform: scale(0.94) translate(0, 10px);
  }
  /*Nuevo*/
  .img-joker{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-jack-1{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-jack-2{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-jack-3{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-jack-4{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-queen-1{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-queen-2{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-queen-3{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-queen-4{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-king-1{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-king-2{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-king-3{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .img-king-4{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.7rem;
  }

  .card-button {
    background: #fff;
    width: 6rem;
    height: 9rem;
    border-radius: 7px;
    margin: 10px;
  }
  
  /* BUTTON SECTION */
  button {
    background: none;
    border: 1px solid #fff;
    outline: none;
    margin: 0.1rem;
    padding: 0.4rem;
    font: inherit;
    font-size: 0.75rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #fff;
    color: #444;
    /* // mover 2 rem hacia arriba */

  }

  .hand-cards:not(:last-child) {
    margin-right: -6rem;
  }

  .card-button:hover {
    transform: translateY(-1rem) !important;
    transition: all 0.3s ease !important;
  }

  .card-button--1 {
    background: white !important;
    border-color: white !important;
    border-style: solid;
    border-width: 5px;
  }
  .card-button-0 {
    background: rgb(179, 200, 237) !important;
    border-color: cornflowerblue !important;
    border-style: solid;
    border-width: 5px;
  }
  .card-button-1 {
    background: rgb(169, 199, 169) !important;
    border-color: rgb(50, 137, 50) !important;
    border-style: solid;
    border-width: 5px;
  }
  .card-button-2 {
    background: rgb(255, 192, 203) !important;
    border-color: rgb(255, 20, 147) !important;
    border-style: solid;
    border-width: 5px;
  }
  .card-button-3 {
    background: rgb(202, 179, 223) !important;
    border-color: rgb(149, 89, 205) !important;
    border-style: solid;
    border-width: 5px;
  }
  .card-button-4 {
    background: rgb(255, 228, 181) !important;
    border-color: rgb(255, 140, 0) !important;
    border-style: solid;
    border-width: 5px;
  }
  .comb-button-0-off {
    color: rgb(179, 200, 237) !important;
    background: cornflowerblue !important;
  }
  .comb-button-0-on {
    background: rgb(179, 200, 237) !important;
    color: cornflowerblue !important;
  }
  .comb-button-1-off {
    color: rgb(169, 199, 169) !important;
    background: rgb(50, 137, 50) !important;
  }
  .comb-button-1-on {
    background: rgb(169, 199, 169) !important;
    color: rgb(50, 137, 50) !important;
  }
  .comb-button-2-off {
    color: rgb(255, 192, 203) !important;
    background: rgb(255, 20, 147) !important;
  }
  .comb-button-2-on {
    background: rgb(255, 192, 203) !important;
    color: rgb(255, 20, 147) !important;
  }
  .comb-button-3-off {
    color: rgb(202, 179, 223) !important;
    background: rgb(149, 89, 205) !important;
  }
  .comb-button-3-on {
    background: rgb(202, 179, 223) !important;
    color: rgb(149, 89, 205) !important;
  }
  .comb-button-4-off {
    color: rgb(255, 228, 181) !important;
    background: rgb(255, 140, 0) !important;
  }
  .comb-button-4-on {
    background: rgb(255, 228, 181) !important;
    color: rgb(255, 140, 0) !important;
  }