/* styles.css */

.inicio_fondo_pantalla{
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);
}

.inicio--cuadro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem !important;
}

.inicio-logo{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.p_login--logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.5rem;
    width: 60%
}

.inicio-boton{
    font-size: 150%;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.75rem;
    border: none;
    letter-spacing: 0;
}

.inicio-reglas-titulo {
    font-size: 150%;
    font-weight: 900;
    margin-top: 2rem;
}

.inicio-reglas-cuerpo {
    font-size: 100%;
    font-weight: 100;
    margin-top: 1rem;
}

.inicio--texto{
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.inicio--titulo{
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    padding-bottom: 2rem;
}

.nav-link-inner--text {
    margin-left: 3rem;
    margin-right: 3rem;
}

.f-size-2 {
    font-size: 2rem;
}